.tooltiphr {
    border: 0;
    height: 1px;
    width: 30%;
    background-image: -webkit-linear-gradient(left,#7a8288,#f8f9fa 9%,#f8f9fa 91%,#7a8288);
    margin-top: 5px;
    margin-bottom: 3px;
}

.generalhr {
    border: 0;
    height: 1px;
    width: 100%;
    background-image: -webkit-linear-gradient(left,#7a8288,#f8f9fa 9%,#f8f9fa 91%,#7a8288);
    margin-top: 5px;
    margin-bottom: 3px;
}

.darker-bg {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
    background-position: left top;
    background-repeat: repeat;
}

.found {
    opacity: 0.25;
}

.fullOpacity {
    opacity: 1 !important;
}

.acquisition-text {
    font-size: 1rem;
}

.blue_quest {
    color: rgb(66, 223, 231);
}

.yellow_quest {
    color: rgb(242, 206, 2);
}

.purple_quest {
    color: rgb(123, 115, 225);
}

.pink_quest {
    color: rgb(255, 10, 142);
}